@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tagesschrift", system-ui !important;
  font-weight: 400 !important;
  font-style: normal;
}