@import "./global.css";
/* General body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* background-color: #f0f4f8;   */
  background-color: #f3f6f9;
}
/* ===== Header base ===== */
header {
  background-color: #e0f7fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

/* Left: logo + image */
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #00796b;
}

.image img {
  height: 60px;
}

/* Navbar desktop */
nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.part1 {
  justify-content: center;
  padding-right: 100px;
}
.part2 {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: cadetblue;
  /* background-color: cadetblue; */
  padding: 6px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

nav a.active,
nav a:hover {
  background-color: #ffffff;
  color: #00796b;
}

/* Hamburger (hidden on desktop) */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 1001;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  /* Show hamburger */
  .menu-toggle {
    display: block;
  }

  /* Navbar hide by default */
  nav {
    display: none;
    position: absolute;
    top: 60px; /* adjust depending on header height */
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #e0f7fa;
    padding: 15px 0;
    z-index: 999;
  }

  /* Navbar active (on click) */
  nav.active {
    display: flex;
  }

  .part1,
  .part2 {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: flex;
  }

  .part2 {
    margin-top: 10px;
    padding-right: 100px;
  }
}

h2 {
  text-align: center;
}

.cart-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

button {
  padding: 5px 10px;
  border: none;
  color: rgb(219, 16, 16);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c8c2c2;
}

#totalContainer {
  text-align: right;
  margin-top: 20px;
}

#totalContainer button {
  margin-left: 10px;
  background-color: #007bff;
}

#totalContainer button:hover {
  background-color: #0069d9;
}
