
@import "./global.css";
/* General body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f4f8;  
}

/* Header */
header {
    background-color: #e0f7fa;  
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 40px;
    margin: 0;
}

/* Logo */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: #00796b;  
    
}

header .image img {
    height: 80px; 
    width: auto;  
    display: block;
    
}
/* Navbar */
nav {
    display: flex;
    margin-left: 600px;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #00796b;  
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a.active, nav a:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Main Content */
main {
    padding: 50px;
}


form {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00796b; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #004d40;  
}




body {
  font-family: Arial;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
}

.box {
  background: #fff;
  width: 300px;
  padding: 20px;
  margin: 120px auto;
  text-align: center;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.link {
  margin-top: 10px;
  color: blue;
  cursor: pointer;
}


body{
  background:#f2f2f2;
  font-family:Arial;
}

.form-box{
  width:320px;
  margin:80px auto;
  background:#fff;
  padding:25px;
  border-radius:8px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.form-box h2{
  text-align:center;
  margin-bottom:20px;
}

.form-box input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

.form-box button{
  width:100%;
  padding:10px;
  background:#006d5b;
  color:#fff;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
